doctype html
html(lang="en")
  head
    title= pageTitle
    script
      | if (foo) {
      |    bar()
      | }
  body
    h1 Jade - node template engine
    #container
      - if (true)
         p You are amazing
      - else
         p Get on it!
         p Get on it!
         p Get on it!
         p Get on it!
    p: a(href="http://jade-lang.com/") Source
